
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('geral.css');


* {
    font-family: "Poppins", sans-serif;
    color: var(--black);
}

.navbar {
    position: fixed;
    margin: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo {
    font-weight: 600;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.navbar a {
    color: var(--black);
    text-decoration: none;
}

.navbar ul a {
    transition: all .3s ease;
    border-bottom: 2px solid var(--white);
}

.navbar ul a:hover {
    border-bottom: 2px solid;
}

.perfil_drop{
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.perfil_drop img{
    object-fit: cover;
    width: 40px;
    height: 40px;
    border-radius: 50px;
}

.perfil_drop p, .perfil_drop h5 , .perfil_drop p i {
    color: var(--white) !important;
    margin: unset !important;
}
