@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Poppins", sans-serif;
    color: var(--black);
}

.navbar {
    z-index: 9;
    width: 98%;
    position: fixed;
    margin: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo {
    font-weight: 600;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.navbar a {
    color: var(--white);
    text-decoration: none;
}

.navbar ul a {
    transition: all .3s ease;
    border-bottom: 2px solid transparent;
}

.navbar ul a:hover {
    border-bottom: 2px solid;
}

.navbar a button {
    backdrop-filter: blur(10px);
    border-radius: 50px;
    border: 2px solid var(--white);
    padding: 5px 14px;
    font-weight: 500;
    font-size: 15px;
    transition: all .3s ease;
}

.navbar .cadastroBtn button {
    background-color: transparent;
    color: var(--white);
}

.navbar .cadastroBtn button:hover {
    background-color: var(--black);
    color: var(--white);
}

.navbar .loginBtn button {
    background-color: transparent;
    color: var(--white);
}

.navbar .loginBtn button:hover {
    background-color: var(--black);
    color: var(--white);
}

/*cores para o dark mode*/

:root{
    --black: darkblue;
    --lowBlack: rgba(0, 0, 139, 0.37);
    --white: white;
}