@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Poppins", sans-serif;
  }

.navbar{
    margin: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo{
    font-weight: 600;
}

.navbar ul{
    list-style: none;
    display: flex;
    gap: 20px;
}

.navbar a{
    color: black;
    text-decoration: none;
}

.navbar a button{
    border-radius: 50px;
    border: 2px solid black;
    padding: 5px 14px;
    font-size: 15px;
}

.navbar .cadastroBtn button{
    background-color: black;
    color: white;
}

.navbar .cadastroBtn button:hover{
    background-color: transparent;
    color: black;
}

.navbar .loginBtn button{
    background-color: transparent;
    color: black;
}

.navbar .loginBtn button:hover{
    background-color: black;
    color: white;
}
