@import url('geral.css');

.banner_inicio {
    background-image: url('../imagens/banner2.avif');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 98vh;
    border-radius: 20px;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, .2);
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    text-align: center;
}

.banner_inicio h1 {
    font-size: 60px;
    color: var(--white);
    font-weight: 500;
    margin-bottom: 20px;
}

.home_searchFilter {
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(20px);
    border-radius: 20px;
    padding: 20px;
    width: 90%;
    gap: 20px;
    margin-bottom: 60px;
}

.home_searchFilter .searchFilter_header,
.home_searchFilter .searchFilter_content,
.home_searchFilter .searchFilter_footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home_searchFilter .searchFilter_header h5 {
    color: var(--white);
    font-weight: 500;
    font-size: 32px;
}

.home_searchFilter .searchFilter_header .searchFilter_tab {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.home_searchFilter .searchFilter_header .searchFilter_tab h6 {
    margin: unset;
    border-radius: 10px;
    padding: 6px 15px;
    color: var(--white);
    border: 1px solid var(--white);
    font-size: 17px;
    font-weight: 500;
    transition: all .3s ease;
}

.home_searchFilter .searchFilter_header .searchFilter_tab h6:hover {
    background-color: var(--white);
    color: var(--black);
}

.home_searchFilter .searchFilter_content .searchFilter_input {
    width: 100%;
    align-items: start;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.home_searchFilter .searchFilter_content .searchFilter_input label {
    font-size: 17px;
    font-weight: 600;
    color: var(--white);
}

.home_searchFilter .searchFilter_content .searchFilter_input input,
.home_searchFilter .searchFilter_content .searchFilter_input select {
    padding: 15px 10px;
    border-radius: 10px;
    border-color: transparent;
    color: var(--white);
    backdrop-filter: blur(20px);
    box-shadow: 1px 1px 20px 1px rgba(0, 0, 0, 0.151) inset;
    background-color: var(--superLwBlack);
}

.home_searchFilter .searchFilter_content .searchFilter_input input::placeholder {
    color: var(--white);
    font-size: 17px !important;
}

.home_searchFilter .searchFilter_content .searchFilter_input select option {
    font-size: 15px !important;
    color: var(--black);
}

.home_searchFilter .searchFilter_content .searchFilter_input input:focus,
.home_searchFilter .searchFilter_content .searchFilter_input select:focus {
    outline: 1px solid var(--white);
}

.home_searchFilter .searchFilter_content .searchFilter_input input {
    width: 92%;
}

.home_searchFilter .searchFilter_content .searchFilter_input select {
    font-size: 17px !important;
    width: 97%;
}

.home_searchFilter .searchFilter_footer {
    display: flex;
    align-items: center;
}

.home_searchFilter .searchFilter_footer .searchFilter_filters {
    align-items: center;
    display: flex;
    gap: 20px;
}

.home_searchFilter .searchFilter_footer .searchFilter_filters h6 {
    margin: unset;
    color: var(--white);
    font-size: 17px;
    font-weight: 500;
}

.home_searchFilter .searchFilter_footer .searchFilter_filters .filterName {
    margin: unset;
    border-radius: 10px;
    transition: all .3s ease;
}

.home_searchFilter .searchFilter_footer .searchFilter_filters .filterName:hover {
    background-color: var(--white);
    color: var(--black);
    padding: 6px 15px;
}

.home_searchFilter .searchFilter_footer .searchFilter_action {
    display: flex;
    width: 100%;
    justify-content: end;
    gap: 20px;
}

.home_searchFilter .searchFilter_footer .searchFilter_action button {
    font-size: 19px;
    border-radius: 10px;
    border-color: transparent;
    background-color: transparent;
}

.home_searchFilter .searchFilter_footer .searchFilter_action button.clear {
    border: 1px solid transparent;
    color: var(--white);
    transition: all .3s ease;
}

.home_searchFilter .searchFilter_footer .searchFilter_action button.clear:hover {
    border: 1px solid var(--white);
}

.home_searchFilter .searchFilter_footer .searchFilter_action button.search {
    background-color: var(--white);
    color: var(--black);
    padding: 7px;
    width: 15% !important;
}

.home_searchFilter .searchFilter_footer .searchFilter_action button.search i {
    color: var(--black);
    margin-right: -10px;
    margin-left: 10px;
    transition: all .3s ease;
}

.home_searchFilter .searchFilter_footer .searchFilter_action button.search:hover i {
    margin-right: -30px;
}

/*parte dos produtos depois da home*/
.catalogoCategory {
    display: flex;
    justify-content: start;
    margin-top: 20px;
}

.catalogoCategory p {
    font-size: 23px;
    font-weight: 500;
    margin: unset;
    color: var(--oliveWoodLow);
}

.catalogoProdutos_container {
    display: flex;
    align-items: start;
    position: relative;
    flex-direction: column;
}

.catalogoProdutos_container .buttons_catalogo{
    display: flex;
}

.catalogoProdutos_container .buttons_catalogo button.scroll-button {
    color: var(--black);
    background-color: var(--white);
    padding: 7px 12px;
    border-radius: 50px;
    transition: all .3s ease;
}

.catalogoProdutos_container .buttons_catalogo button.scroll-button:hover {
    color: var(--white);
    background-color: var(--black);
}

.catalogoProdutos_content {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto !important;
    scrollbar-width: none;
    -ms-overflow-style: none;
    scroll-behavior: smooth;
    flex-grow: 1;
    background-color: transparent;
    padding: 10px;
    border: none;
    align-items: center;
    gap: 30px;
}

.catalogoProdutos_content::-webkit-scrollbar {
    display: none;
}

.produtos_corpo {
    gap: 15px;
    justify-content: center;
    align-items: center;
    position: relative;
    display: flex;
    transition: all .3s ease;
    flex-direction: column;
    width:100%;
}

.produtos_corpo:hover{
    border: 1.5px solid var(--black);
    border-radius: 20px;
    padding: 10px;
}

.produtos_corpo img {
    height: 250px;
    width: 400px;
    border-radius: 20px;
    object-fit: cover;
}

.produtos_corpo h4 {
    margin: unset;
    font-weight: 600;
    color: var(--black);
    font-size: 21px;
}

.produtos_corpo .produtos_detalhes {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.produtos_corpo .produtos_detalhes .detalhe {
    display: flex;
    align-items: center;
    gap: 6px;
}

.produtos_corpo .produtos_detalhes .detalhe p {
    margin: unset;
}

.produtos_corpo .produtos_footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.produtos_corpo .produtos_footer .produtos_price {
    display: flex;
    flex-direction: column;
}

.produtos_corpo .produtos_footer .produtos_price h4 span {
    font-size: 15px;
}

.produtos_corpo .produtos_footer .produtos_price p {
    margin: unset;
    font-size: 14px;
}

.produtos_corpo .produtos_footer a button {
    font-size: 18px;
    border-radius: 50px;
    border: 1px solid var(--black);
    background-color: var(--black);
    padding: 5px 20px;
    color: var(--white);
    transition: all .3s ease;
}

.produtos_corpo .produtos_footer a button i {
    color: var(--white);
    transition: all .3s ease;
    margin-left: 5px;
}

.produtos_corpo .produtos_footer a button:hover i {
    margin-left: 10px;
    margin-right: -5px;
} 
