.banner_inicio {
    background-image: url('../imagens/aviaoBanner.avif');
    background-repeat: no-repeat;
    background-position: center ;
    background-size: cover;
    width: 100%;
    height: 500px;
    border-radius: 20px;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.2);
}