@import url('geral.css');


/*seção início*/
.banner_inicio {
    background-image: url('../imagens/banner1.avif');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 98vh;
    border-radius: 20px;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.411);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.banner_inicio h1 {
    width: 70%;
    margin: unset;
    line-height: 80px;
    color: var(--white);
    font-size: 62px;
    font-weight: 500;
}

.banner_inicio .dropbar_search {
    margin-top: 20px;
    gap: 20px;
    display: flex;
    align-items: center;
    border: 1px solid var(--white);
    backdrop-filter: blur(10px);
    padding: 10px 15px;
    border-radius: 50px;
}

.banner_inicio .dropbar_search h3 {
    font-weight: 500;
    color: var(--white);
    margin: unset;
}

.banner_inicio .dropbar_search h3 i {
    margin-left: 10px;
    color: var(--white);
}

.banner_inicio .dropbar_search .divisor {
    background-color: var(--white);
    height: 25px;
    width: 1px;
}


.banner_inicio .dropbar_search button {
    padding: 6px 25px;
    background-color: var(--white);
    backdrop-filter: blur(10px);
    color: var(--black);
    font-size: 17px;
    border: 1px solid var(--white);
    font-weight: 600;
    border-radius: 20px;
    transition: all .3s ease;
}

.banner_inicio .dropbar_search button:hover {
    background-color: var(--black);
    color: var(--white);
}

.info_cta {
    position: absolute;
    bottom: 40px;
    display: flex;
    justify-content: space-between;
    align-items: end;
    width: 95%;
}

.info_cta .info_content {
    width: 40%;
    text-align: left;
}

.info_cta .info_content h4 {
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    color: var(--white);
    border: 1px solid var(--white);
    border-radius: 50px;
    padding: 8px 17px;
    width: 23%;
}

.info_cta .info_content h4 i {
    color: var(--white);
    margin-right: 5px;
}

.info_cta .info_content p {
    color: var(--white);
    font-size: 20px;
}

.info_cta button {
    background-color: transparent;
    color: var(--white);
    backdrop-filter: blur(10px);
    border-radius: 50px;
    border: 2px solid var(--white);
    padding: 8px 18px;
    font-weight: 500;
    font-size: 18px;
    transition: all .3s ease;
}

.info_cta button i {
    margin-left: 8px;
    color: var(--white);
}


.info_cta button:hover {
    background-color: var(--white);
    color: var(--black);
}


/*seção sobre nós*/
.index_about {
    margin-top: 120px;
    display: flex;
    width: 98%;
    justify-content: space-between;
    align-items: end;
}

.index_about h1 {
    margin: 0 20px;
    width: 40%;
    font-size: 33px;
    font-weight: 400;
}

.index_about h1 span {
    opacity: 0.5;
}

.index_about .about_content {
    display: flex;
    align-items: center;
    justify-content: end;
    text-align: center;
    gap: 20px;
}

.index_about .about_content .divisor {
    background-color: var(--black);
    height: 45px;
    width: 2px;
    margin: 0 10px;
}

.index_about .about_content .about_info h2 {
    font-size: 40px;
    font-weight: 500;
    margin: unset;
}

.index_about .about_content .about_info h5 {
    margin: unset;
    font-size: 20px;
    font-weight: 500;
}

/*seção de amostra de alguns serviços*/
.index_services {
    width: 98%;
    height: 90vh;
    margin-top: 120px;
    display: flex;
    flex-direction: column;
}

.index_services .services_title {
    margin: 0 20px;
}

.index_services .services_title h1 {
    font-size: 50px;
    font-weight: 400;
    margin: unset;
}

.index_services .services_title p {
    margin: unset;
    width: 70%;
    font-size: 20px;
}

.index_services .services_content {
    margin: 20px;
    width: 100%;
    display: flex;
    height: 100%;
    gap: 20px;
}

.index_services .services_content .place1 {
    background-image: url('../imagens/place1.avif');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.411);
    display: flex;
    align-items: start;
    justify-content: end;
    width: 50%;
    height: 100%;
    border-radius: 20px;
    flex-direction: column;
    transition: all .7s ease;
    position: relative;
}

.index_services .services_content .place1 h2 {
    margin: 0 25px 20px 25px;
    color: var(--white);
    font-size: 40px;
    transition: all .7s ease;
    font-weight: 500;
}

.index_services .services_content .place1:hover h2 {
    margin-bottom: unset;
}

.index_services .services_content .place1 p {
    position: absolute;
    overflow: hidden !important;
    margin: 0 25px 20px 25px;
    bottom: -50px;
    height: 0;
    color: transparent;
    font-weight: 500;
    transition: all .5s ease;
}

.index_services .services_content .place1:hover p {
    margin: 0 25px 20px 25px;
    overflow: visible;
    height: auto;
    bottom: 0;
    color: var(--white);
    position: relative;
}

.index_services .services_content .content_places {
    width: 50%;
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.index_services .services_content .content_places .place2,
.index_services .services_content .content_places .place3 {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.411);
    display: flex;
    align-items: start;
    justify-content: end;
    height: 50%;
    border-radius: 20px;
    flex-direction: column;
}

.index_services .services_content .content_places .place2 {
    background-image: url('../imagens/place2.avif');
}

.index_services .services_content .content_places .place3 {
    background-image: url('../imagens/place3.avif');
}

.index_services .services_content .content_places .place2 h2,
.index_services .services_content .content_places .place3 h2 {
    margin: 0 25px 20px 25px;
    color: var(--white);
    font-size: 40px;
    transition: all .7s ease;
    font-weight: 500;
}

.index_services .services_content .content_places .place2:hover h2,
.index_services .services_content .content_places .place3:hover h2 {
    margin-bottom: unset;
}

.index_services .services_content .place2 p,
.index_services .services_content .place3 p {
    position: absolute;
    overflow: hidden !important;
    margin: 0 25px 20px 25px;
    bottom: -50px;
    height: 0;
    color: transparent;
    font-weight: 500;
    transition: all .5s ease;
}

.index_services .services_content .place2:hover p,
.index_services .services_content .place3:hover p {
    margin: 0 25px 20px 25px;
    overflow: visible;
    height: auto;
    bottom: 0;
    color: var(--white);
    position: relative;
}


/*seção de amostra de alguns pacotes*/
.index_package {
    width: 98%;
    height: 90vh;
    margin-top: 120px;
    display: flex;
    flex-direction: column;
}

.index_package h1 {
    text-align: center;
    font-size: 50px;
    font-weight: 400;
    margin: unset;
}

.index_package .package_content {
    margin: 20px;
    width: 100%;
    display: flex;
    height: 100%;
    gap: 20px;
}

.index_package .package_content .package1,
.index_package .package_content .package2,
.index_package .package_content .package3 {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.411);
    display: flex;
    align-items: start;
    width: 35%;
    justify-content: end;
    border-radius: 20px;
    flex-direction: column;
    transition: all .8s ease;
    position: relative;
}

.index_package .package_content .package1 {
    background-image: url('../imagens/package1.avif');
}


.index_package .package_content .package2 {
    background-image: url('../imagens/package2.avif');
}

.index_package .package_content .package3 {
    background-image: url('../imagens/package3.avif');
}

.index_package .package_content .package1:hover,
.index_package .package_content .package2:hover,
.index_package .package_content .package3:hover {
    width: 60%;
    flex-direction: row;
    align-items: end;
    justify-content: space-between;
}

.index_package .package_content .package1 h5,
.index_package .package_content .package2 h5,
.index_package .package_content .package3 h5 {
    position: absolute;
    top: 0;
    left: 20px;
    font-weight: 500;
    color: var(--white);
    border-radius: 50px;
    border: 1px solid var(--white);
    padding: 7px 12px;
    font-size: 16px;
    backdrop-filter: blur(6px);
}

.index_package .package_content .package_info {
    transition: all .7s ease;
}

.index_package .package_content .package1:hover .package_info,
.index_package .package_content .package2:hover .package_info,
.index_package .package_content .package3:hover .package_info {
    width: 70%;
}

.index_package .package_content .package_info h2 {
    margin: 0 25px;
    color: var(--white);
    font-size: 40px;
    transition: all .7s ease;
    font-weight: 500;
}

.index_package .package_content .package_info p {
    margin: 0 25px 20px 25px;
    color: var(--white);
    transition: all .7s ease;
}

.index_package .package_content a {
    width: 20%;
    text-decoration: none;
    font-weight: 500;
    color: var(--white);
    margin: 20px;
    border-radius: 50px;
    border: 1px solid var(--white);
    padding: 8px 13px;
    font-size: 18px;
    transition: all .7s ease;
    justify-content: center;
    backdrop-filter: blur(6px);
    display: none;
}

.index_package .package_content a:hover {
    background-color: var(--white);
    color: var(--black);
}

.index_package .package_content .package1:hover a,
.index_package .package_content .package2:hover a,
.index_package .package_content .package3:hover a {
    display: flex;
}

/* seção do faq */
.index_faq {
    width: 98%;
    margin-top: 120px;
    display: flex;
    justify-items: center;
    align-items: start;
    gap: 40px;
}

.index_faq .faq_title {
    width: 50%;
    margin-left: 20px;
}

.index_faq .faq_title h1 {
    margin-bottom: unset;
    color: var(--black);
    font-weight: 400;
    font-size: 60px;
}

.index_faq .faq_title h3 {
    color: var(--black);
    opacity: 0.5;
    font-weight: 400;
    margin-bottom: 20px;
    font-size: 22px;
}

.index_faq .faq {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 17px;
}

.index_faq .faq .faq-header {
    text-align: left;
    width: 100%;
    padding: 16px 20px;
    background-color: transparent;
    border: 1px solid var(--lowBlack) !important;
    font-size: 24px !important;
    font-weight: 500;
    color: var(--black);
    border-radius: 20px !important;
}

.index_faq .faq .faq-header.collapsed {
    padding-bottom: unset;
    font-weight: 600;
    border-bottom: none !important;
    border-radius: 20px 20px 0 0 !important;
}

.index_faq .faq .faq-body {
    padding-top: unset;
    color: var(--black);
    padding: 20px;
    border-radius: 0 0 20px 20px !important;
    border: 1px solid var(--lowBlack) !important;
    border-top: none !important;
}

.index_faq .accordion-body {
    padding-top: unset !important;
}

/*seção de review de usuários*/
.index_review {
    width: 98%;
    margin-top: 120px;
    display: flex;
    justify-items: center;
    align-items: center;
    gap: 20px;
    flex-direction: column;
}

.index_review h1{
    font-size: 50px;
    text-align: center;
    font-weight: 500;
}

.index_review .review_group {
    margin-left: 20px;
    display: flex;
    gap: 20px;
}

.index_review .review_group .review_content {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--lowBlack) !important;
    border-radius: 20px;
    padding: 30px;
}

.index_review .review_group .review_content .review_header {
    display: flex;
    align-items: center;
    gap: 10px;
}

.index_review .review_group .review_content .review_header img {
    width: 45px;
    height: 45px;
    border-radius: 50px;
}

.index_review .review_group .review_content .review_header h3 {
    font-weight: 500;
    font-size: 23px;
    margin: unset;
}

.index_review .review_group .review_content p {
    margin-bottom: unset;
    font-size: 18px;
}

/*seção início*/
.index_newletter{
    margin-top: 120px;
    display: flex;
    justify-items: center;
    align-items: center;
}

.banner_newletter {
    background-image: url('../imagens/imgNewsletter.avif');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 98vh;
    border-radius: 20px;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.411);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.banner_newletter h1 {
    width: 70%;
    margin: unset;
    line-height: 80px;
    color: var(--white);
    font-size: 62px;
    font-weight: 500;
}

.banner_newletter .drop_email {
    margin-top: 20px;
    gap: 20px;
    display: flex;
    align-items: center;
    border: 1px solid var(--white);
    backdrop-filter: blur(10px);
    padding: 5px 7px;
    border-radius: 50px;
}

.banner_newletter .drop_email input {
    padding: 10px 15px;
    color: var(--white);
    margin: unset;
    border-radius: 50px;
    background-color: transparent;
    border: none;
}

.banner_newletter .drop_email input::placeholder{
    color: var(--white);
}

.banner_newletter .drop_email input:focus{
    border: none;
    outline: none;
}

.banner_newletter .drop_email .divisor {
    background-color: var(--white);
    height: 25px;
    width: 1px;
}

.banner_newletter .drop_email button {
    padding: 6px 25px;
    background-color: var(--white);
    backdrop-filter: blur(10px);
    color: var(--black);
    font-size: 17px;
    border: 1px solid var(--white);
    font-weight: 600;
    border-radius: 20px;
    transition: all .3s ease;
}

.banner_newletter .drop_email button:hover {
    background-color: var(--black);
    color: var(--white);
}
