@import url('geral.css');

.navbar a{
    color: var(--black);
}

.navbar a button{
    border-color: var(--black);
    color: var(--black) !important;
}

.navbar a button:hover{
    color: var(--white) !important;
}

.login_container {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.login_container h1,
.login_container p {
    color: var(--black);
    margin: unset;
}

.login_content {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.login_content label{
    text-align: start;
    color: var(--black);
}

.login_content input {
    padding: 8px 85px;
    border: 1px solid var(--black);
    border-radius: 20px;
}

.login_content input::placeholder{
    color: var(--black);
}

.login_content input:focus{
    outline: 1.5px solid var(--black);
}

.login_content button{
    width: 100%;
    margin-top: 10px;
    padding: 8px 85px;
    background-color: var(--black);
    color: var(--white);
    font-size: 16px;
    border: 1px solid var(--black);
    border-radius: 20px;
}

.login_content a{
    color: blue;
}